body {
    background: linear-gradient(99deg, #5302aa 0%, #5000BD 39%, #fff 100%);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-link {
    color: rgb(129, 4, 187);
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: rgb(129, 4, 187);
}
.navbar-brand img {
    width: 70px;
}
.navbar-toggler {
    background-color: rgb(107, 7, 153);
}
.card {
    background: linear-gradient(99deg, #5402b3 0%, #7e7b81 39%, #fff 100%);
    color: rgb(65, 2, 94);
}
.call-anim {
    animation: myAnim 2s ease 0s infinite normal forwards;
}
@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}